extends layout.pug

block body
  if !user
    section
      if err
        p.center= (typeof err === 'string') ? err : (err.message || err)
      form.createaccount(action=altLocales[getLocale()] method='post')
        label(for='name')= __('Name').toUpperCase()
        input(type='text' id='name' name='name' required='required' value=(name || '') autofocus='autofocus')
        label(for='email')= __('Email').toUpperCase()
        input(type='email' id='email' name='email' required='required' value=(email || ''))
        div.buttons
          button(type='submit')= __('Create account').toUpperCase()
