extends layout.pug

block body
  if user && user.admin
    section
      != markdown || ''
    form.emailblast(action=altLocales[getLocale()] method='post')
      p= __n('You will be sending an email blast to %s person who has received a visa for DeJā {{year}}.', 'You will be sending an email blast to %s people who have received visas for DeJā {{year}}.', targets.length, { year })
      label(for='subject')= __('Message subject (title)').toUpperCase()
      input(type='text' id='subject' name='subject' required='required' value=(subject || '') autofocus='autofocus')
      label(for='text')= __('Message content').toUpperCase()
      textarea(id='text' name='text' required='required' cols='72' rows='6')= text || ''
      div.buttons
        button(type='submit')= __('Send').toUpperCase()
