extends layout.pug

mixin tree-button(name)
  a(href='/' + getLocale() + '/' + __('Tree').toLowerCase().split(' ').join('-').split('/').join('-').split('(').join('').split(')').join('').split('!').join('') + '/' + __(name).toLowerCase().split(' ').join('-').split('/').join('-').split('(').join('').split(')').join('').split('!').join('') class='tree-' + name.toLowerCase().split(' ').join('-').split('/').join('-').split('(').join('').split(')').join('').split('!').join(''))
    div(title=__(name))!= svg('images/principles/' + name.toLowerCase().split(' ').join('-').split('/').join('-').split('(').join('').split(')').join('').split('!').join('') + '.svg')

mixin section(name)
  - let now = new Date()
  - let applicationEnd = new Date(now.getFullYear(), 5, 1, 10) // June 1, 10:00
  - let visaPeriod = now.getFullYear() + ((+applicationEnd) > (+now) ? 0 : 1)
  - let applicationStart = +(new Date(visaPeriod - 1, 6, 1))
  - let accessible = acl((subpages.filter(page => page.title === name)[0] || {}).acl) && (name !== 'Enter DeJā' || (+now) > applicationStart)
  if accessible || (name === 'Enter DeJā' && acl('email'))
    a(class=(accessible ? '' : 'disabled').trim() href='/' + getLocale() + '/' + __(name).toLowerCase().split(' ').join('-').split('/').join('-').split('(').join('').split(')').join('').split('!').join(''))= __(name).toUpperCase()

block prebody
  if user
    form#userdata.modal(action=((altLocales || {})[getLocale()] || '/') method='post' style='display:none')
      input#realname(type='text' name='realname' autocomplete='name' value=user.name data-name=user.name placeholder=__('Name'))
      input#password(type='password' name='password' autocomplete='current-password' placeholder=__('Current password, if you want to change it'))
      input#newpassword(type='password' name='newpassword' autocomplete='new-password' style='display:none' placeholder=__('New password'))
      input#newpasswordrepeat(type='password' name='newpasswordrepeat' autocomplete='new-password' style='display:none' placeholder=__('New password, repeated'))
      button(type='submit')= __('Close')

block home
  img.home.disabled(src='/images/logo.png' alt=__('Logo of Degošie Jāņi') width='750' height='750')

block body
  - let now = new Date()
  nav
    if user
      a(href='#userdata' rel='modal:open')
        p= __mf('Hi {name}', { name: user.name }).toUpperCase()
  section.bgless.nav-indent
    .tree
      div(alt=__('Tree of Life'))!= svg('images/tree.svg')
      +tree-button('Be Present')
      +tree-button('Co-creation')
      +tree-button('Community')
      +tree-button('Consent')
      +tree-button('Each 1 Teach 1')
      +tree-button('Environmental Consciousness')
      +tree-button('Fuck Commerce')
      +tree-button('Gifting')
      +tree-button('Openness')
      +tree-button('Participation')
      +tree-button('Self-expression')
      +tree-button('Self Reliance')
  nav
    div
      +section('What is DeJā')
      +section('Burn Etiquette')
      +section('Survival Guide')
      +section('Creation')
      +section('Enter DeJā')
      +section('Donation')
      +section('Network')
      +section('FAQ\'ing read me!')
      - let applicationEnd = new Date(now.getFullYear(), 5, 1, 10) // June 1, 10:00
      - let visaPeriod = now.getFullYear() + ((+applicationEnd) > (+now) ? 0 : 1)
      - applicationEnd = +(new Date(visaPeriod, 5, 1, 10) // June 1, 10:00
      - let applicationStart = +(new Date(visaPeriod - 1, 6, 1))
      - let daysTillApplication = Math.ceil((applicationEnd - (+now)) / 1000 / 60 / 60 / 24)
      if (+now) < applicationStart || daysTillApplication <= 0
        p= __('Portal is closed. Take the next shuttle.')
      else
        p= __n('To enter DeJā, get your invite by May 31. (%s day left.)', 'To enter DeJā, get your invite by May 31. (%s days left.)', daysTillApplication)
      if user
        p #{__('17 June — 20 June:')}#[br]#{__('Early arrivals.')}
      p #{__('21 June — 25 June:')}#[br]#{__('DeJā.')}
      if user
        p #{__('26 June:')}#[br]#{__('Strike begins.')}
  nav
    - let burnEnd = +(new Date(now.getFullYear(), 5, 25))
    - let burnStart = +(new Date(now.getFullYear() + ((+now) > burnEnd ? 1 : 0), 5, 21))
    - let daysTillBurn = Math.ceil((burnStart - (+now)) / 1000 / 60 / 60 / 24)
    if (+now) > burnStart || daysTillBurn <= 0
      p= __('We are burning right now')
    else
      p= __n('We burn in %s day', 'We burn in %s days', daysTillBurn)
  section.bgless
    h1= __('Upcoming Global Events').toUpperCase()
    .carousel-container
      - var globalEvents = [];
      //- var events = $('.global-events-list .slick-slide'); var out = ''; for (var i = 0; i < events.length; i++) { var el = events[i].children[0]; out += "- globalEvents.push({ what: '" + el.children[1].innerText.toUpperCase() + "', when: '" + el.children[2].innerText + "', link: '' })\n"; } console.log('//- Number of events in last update: ' + events.length + '\n' + out);
      //- Number of events in last update: 21
      //- Number of OK responses and actual events listed: 13
      - globalEvents.push({ what: 'KIWIBURN', when: 'January', link: 'http://www.kiwiburn.com/' })
      - globalEvents.push({ what: 'FUEGO AUSTRAL', when: 'March', link: 'http://fuegoaustral.org/' })
      - globalEvents.push({ what: 'SAGUARO MAN', when: 'April', link: 'http://www.saguaroman.net/' })
      - globalEvents.push({ what: 'AFRIKABURN', when: 'April', link: 'http://www.afrikaburn.com/' })
      - globalEvents.push({ what: 'UNSCRUZ', when: 'May', link: 'http://www.unscruz.com/' })
      - globalEvents.push({ what: 'BURNING FLIPSIDE', when: 'May', link: 'https://www.burningflipside.com/' })
      - globalEvents.push({ what: 'BURNING MAN NETHERLANDS', when: '', link: 'https://burningman.nl/' })
      - globalEvents.push({ what: 'MIDBURN', when: 'June', link: 'http://midburn.org/en/' })
      - globalEvents.push({ what: 'SOULFIRE', when: 'June', link: 'http://www.southbayburners.org/' })
      - globalEvents.push({ what: 'NOWHERE', when: 'July', link: 'https://www.goingnowhere.org/' })
      - globalEvents.push({ what: 'ELEMENT 11', when: 'July', link: 'http://www.element11.org/' })
      - globalEvents.push({ what: 'BURN IN THE FOREST', when: 'July', link: 'https://burnintheforest.com/' })
      - globalEvents.push({ what: 'YOUTOPIA', when: 'October', link: 'http://sdyoutopia.com/' })
      each event in globalEvents
        .carousel-cell
          a(target='_blank' href=event.link class=(event.link ? '' : 'disabled'))
            img(src='/images/global-events/' + event.what.toLowerCase().split(' ').join('-').split('/').join('-').split('(').join('').split(')').join('').split('!').join('') + '.png' alt=event.what width='150' height='79')
            p #{event.what.toUpperCase()}#[br]#{event.when}
