extends layout.pug

mixin tree-button(name, edge)
  a(href='/' + getLocale() + '/' + __('Tree').toLowerCase().split(' ').join('-').split('/').join('-') + '/' + __(name).toLowerCase().split(' ').join('-').split('/').join('-') class='tree-' + name.toLowerCase().split(' ').join('-').split('/').join('-'))
    img(src='/images/principles/' + name.toLowerCase().split(' ').join('-').split('/').join('-') + '.png' alt=__(name) width=edge height=edge)

block home
  img.home.disabled(src='/images/logo.png' alt=__('Logo of Degošie Jāņi') width='110' height='110')

block body
  section.bgless.nav-indent
    .tree
      img(src='/images/principles/tree.png' alt=__('Tree of Life') width='210' height='380')
      +tree-button('Be Present', '30')
      +tree-button('Co-creation', '30')
      +tree-button('Community', '30')
      +tree-button('Each 1 Teach 1', '30')
      +tree-button('Environmental Consciousness', '30')
      +tree-button('Fuck Commerce', '30')
      +tree-button('Gifting', '30')
      +tree-button('Openness', '30')
      +tree-button('Participation', '30')
      +tree-button('Self-expression', '30')
      +tree-button('Self Reliance', '30')
  nav
    div
      a.left(href='/' + getLocale() + '/' + __('What is DeJā').toLowerCase().split(' ').join('-').split('/').join('-'))= __('What is DeJā').toUpperCase()
      a.left(href='/' + getLocale() + '/' + __('Burn Etiquette').toLowerCase().split(' ').join('-').split('/').join('-'))= __('Burn Etiquette').toUpperCase()
      a.left(class=(user ? '' : 'disabled') href='/' + getLocale() + '/' + __('Survival Guide').toLowerCase().split(' ').join('-').split('/').join('-'))= __('Survival Guide').toUpperCase()
      a.left(class=(user ? '' : 'disabled') href='/' + getLocale() + '/' + __('Creation').toLowerCase().split(' ').join('-').split('/').join('-'))= __('Creation').toUpperCase()
    div
      a.right.disabled(href='/' + getLocale() + '/' + __('Visa Application').toLowerCase().split(' ').join('-').split('/').join('-'))= __('Visa Application').toUpperCase()
      a.right(href='/' + getLocale() + '/' + __('Donation').toLowerCase().split(' ').join('-').split('/').join('-'))= __('Donation').toUpperCase()
      a.right(href='/' + getLocale() + '/' + __('Network').toLowerCase().split(' ').join('-').split('/').join('-'))= __('Network').toUpperCase()
      a.right(href='/' + getLocale() + '/' + __('FAQ').toLowerCase().split(' ').join('-').split('/').join('-'))= __('FAQ').toUpperCase()
  nav
    p= __('1 March — 31 May:')
    p.float-left= __('Visa applications accepted.')
    p= __('17 June — 20 June:')
    p.float-left= __('Early arrivals.')
    p= __('21 June — 24 June:')
    p.float-left= __('DeJā.')
    p= __('25 June — deMOOPed:')
    p.float-left= __('Strike/Clean up.')
  section.bgless
    h1= __('Upcoming Global Events').toUpperCase()
    .carousel-container
      - var globalEvents = [];
      //- var events = $('.global-events-list .slick-slide'); var out = ''; for (var i = 0; i < events.length; i++) { var el = events[i].children[0]; out += "- globalEvents.push({ what: '" + el.children[1].innerText.toUpperCase() + "', when: '" + el.children[2].innerText + "', link: '' })\n"; } console.log('//- Number of events in last update: ' + events.length + '\n' + out);
      //- Number of events in last update: 21
      - globalEvents.push({ what: 'KIWIBURN', when: 'January', link: 'http://www.kiwiburn.com/' })
      - globalEvents.push({ what: 'LOVE BURN', when: 'January', link: '' })
      - globalEvents.push({ what: 'FUEGO AUSTRAL', when: 'March', link: 'http://fuegoaustral.org/' })
      - globalEvents.push({ what: 'BLAZING SWAN', when: 'March', link: '' })
      - globalEvents.push({ what: 'PREHEAT', when: 'April', link: '' })
      - globalEvents.push({ what: 'SAGUARO MAN', when: 'April', link: 'http://www.saguaroman.net/' })
      - globalEvents.push({ what: 'AFRIKABURN', when: 'April', link: 'http://www.afrikaburn.com/' })
      - globalEvents.push({ what: 'UNSCRUZ', when: 'May', link: '' })
      - globalEvents.push({ what: 'BURNING FLIPSIDE', when: 'May', link: 'https://www.burningflipside.com/' })
      - globalEvents.push({ what: 'SOAK', when: 'May', link: '' })
      - globalEvents.push({ what: 'SERENDIPITY', when: 'May', link: '' })
      - globalEvents.push({ what: 'MIDBURN', when: 'June', link: 'http://midburn.org/en/' })
      - globalEvents.push({ what: 'APOGAEA', when: 'June', link: '' })
      - globalEvents.push({ what: 'LAKES OF FIRE', when: 'June', link: '' })
      - globalEvents.push({ what: 'OTHERWORLD', when: 'June', link: '' })
      - globalEvents.push({ what: 'SOULFIRE', when: 'June', link: 'http://www.southbayburners.org/' })
      - globalEvents.push({ what: 'NOWHERE', when: 'July', link: 'https://www.goingnowhere.org/' })
      - globalEvents.push({ what: 'ELEMENT 11', when: 'July', link: 'http://www.element11.org/' })
      - globalEvents.push({ what: 'TRANSFORMUS', when: 'July', link: '' })
      - globalEvents.push({ what: 'BURN IN THE FOREST', when: 'July', link: 'https://burnintheforest.com/' })
      - globalEvents.push({ what: 'YOUTOPIA', when: 'October', link: 'http://sdyoutopia.com/' })
      each event in globalEvents
        .carousel-cell
          a(target='_blank' href=event.link class=(event.link ? '' : 'disabled'))
            img(src='/images/global-events/' + event.what.toLowerCase().split(' ').join('-').split('/').join('-') + '.png' alt=event.what width='150' height='79')
            p #{event.what.toUpperCase()}#[br]#{event.when}
