doctype html
= '\n'
html.noscript(lang=getLocale())
  = '\n'
  head
    meta(charset='utf-8')
    if title
      title= title + ' | Degošie Jāņi'
    else
      title Degošie Jāņi
    link(rel='icon' href='/favicon.png')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    <!--[if IE]><script src='/html5shiv/dist/html5shiv.min.js'></script><![endif]-->
    link(rel='stylesheet' href='/reset-css/reset.css')
    link(rel='stylesheet' href='/flickity/dist/flickity.min.css')
    link(rel='stylesheet' href='/EasyAutocomplete/dist/easy-autocomplete.min.css')
    link(rel='stylesheet' href='/jquery-modal/jquery.modal.min.css')
    link(rel='stylesheet' href='/datatables.net-dt/css/jquery.dataTables.min.css')
    link(rel='stylesheet' href='/datatables.net-responsive-dt/css/responsive.dataTables.min.css')
    link(rel='stylesheet' href='/main.css')
    if altLocales
      each href, locale in altLocales
        if locale !== getLocale()
          link(rel='alternate' hreflang=locale href=href)
  body
    noscript
      p
        b= __('Your browser does not support scripting!')
        br
        = __('Please enable JavaScript or try a different browser.')
    block prebody
    header
      .header-top
      .header-bar
        block sign-in
          if user
            a.sign-in(href='/' + getLocale() + '/' + __('Log Out').toLowerCase().split(' ').join('-').split('/').join('-').split('(').join('').split(')').join('').split('!').join(''))= __('Log Out').toUpperCase()
          else
            a.sign-in(href='/' + getLocale() + '/' + __('Log In').toLowerCase().split(' ').join('-').split('/').join('-').split('(').join('').split(')').join('').split('!').join(''))= __('Log In').toUpperCase()
        if altLocales
          .lang
            each href, locale in altLocales
              if locale === getLocale()
                a.altlang.disabled(hreflang=locale href=href)= locale.toUpperCase()
              else
                a.altlang(hreflang=locale href=href)= locale.toUpperCase()
        block home
          a.home(href='/' + getLocale() + '/')= __('Home').toUpperCase()
    block body
      section
        != markdown || ''
    if user
      section.bgless.center
        if user.admin && __('View Applications') !== title
          a(href='/' + getLocale() + '/' + __('View Applications').toLowerCase().split(' ').join('-').split('/').join('-').split('(').join('').split(')').join('').split('!').join(''))= __('View Applications').toUpperCase()
        if user.admin && __('Email Blast') !== title
          a(href='/' + getLocale() + '/' + __('Email Blast').toLowerCase().split(' ').join('-').split('/').join('-').split('(').join('').split(')').join('').split('!').join(''))= __('Email Blast').toUpperCase()
    script(src='/jquery/dist/jquery.min.js' nonce=nonce)
    script(src='/flickity/dist/flickity.pkgd.min.js' nonce=nonce)
    script(src='/EasyAutocomplete/dist/jquery.easy-autocomplete.min.js' nonce=nonce)
    script(src='/jquery-modal/jquery.modal.min.js' nonce=nonce)
    script(src='/datatables.net/js/jquery.dataTables.min.js' nonce=nonce)
    script(src='/datatables.net-responsive/js/dataTables.responsive.min.js' nonce=nonce)
    script(src='/main.js' nonce=nonce)
= '\n'
