doctype html
= '\n'
html(lang=getLocale())
  = '\n'
  head
    meta(charset='utf-8')
    if title
      title= title + ' | Degošie Jāņi'
    else
      title Degošie Jāņi
    link(rel='icon' href='/favicon.png')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    <!--[if IE]><script src='/html5shiv/dist/html5shiv.min.js'></script><![endif]-->
    link(rel='stylesheet' href='/reset-css/reset.css')
    link(rel='stylesheet' href='/flickity/dist/flickity.min.css')
    link(rel='stylesheet' href='/EasyAutocomplete/dist/easy-autocomplete.min.css')
    link(rel='stylesheet' href='/jquery-modal/jquery.modal.min.css')
    link(rel='stylesheet' href='/main.css')
    if altLocales
      each href, locale in altLocales
        if locale !== getLocale()
          link(rel='alternate' hreflang=locale href=href)
  body
    if user
      div#userdata.modal(style='display:none')
        input#realname(type='text' value=user.name data-name=user.name autocomplete='name' placeholder=__('Name'))
        a(href='#close' rel='modal:close')= __('Close')
    header
      .header-top
      .header-bar
        if user
          a(href='#userdata' rel='modal:open')
            p.sign-in= __mf('Hi {name}', { name: user.name }).toUpperCase()
        else
          a.sign-in(href='/' + getLocale() + '/' + __('Log In').toLowerCase().split(' ').join('-').split('/').join('-'))= __('Log In').toUpperCase()
        if altLocales
          .lang
            each href, locale in altLocales
              if locale === getLocale()
                a.altlang.disabled(hreflang=locale href=href)= locale.toUpperCase()
              else
                a.altlang(hreflang=locale href=href)= locale.toUpperCase()
        block home
          a.home(href='/' + getLocale() + '/')= __('Home').toUpperCase()
    block body
      section
        != markdown || ''
    script(src='/jquery/dist/jquery.min.js')
    script(src='/flickity/dist/flickity.pkgd.min.js')
    script(src='/EasyAutocomplete/dist/jquery.easy-autocomplete.min.js')
    script(src='/jquery-modal/jquery.modal.min.js')
    script $(function () { $('.disabled').on('click', function (event) { event.preventDefault(); }); $('.carousel-container').flickity({ wrapAround: true, autoPlay: 3000, adaptiveHeight: false, dragThreshold: 10, prevNextButtons: false }); $('input[data-yesno]').click(e => { $('.explanation[data-question=' + $(e.target).data('question') + ']').each(function () { var explanation = $(this); var yesno = explanation.data('yesno') === $(e.target).data('yesno'); explanation.toggleClass('visible', yesno); explanation.find('input').attr('required', yesno ? 'required' : false); }); }); $('.easyautocomplete-country').each(function () { var country = $(this); country.easyAutocomplete({ url: '/EasyAutocomplete/demo/resources/countries.json', getValue: 'name', highlightPhrase: false, list: { match: { enabled: true }, sort: { enabled: true, method: function (ao, bo) { var a = ao.name.toLowerCase(); var b = bo.name.toLowerCase(); var c = country.val().toLowerCase(); var ac = a.substr(0, c.length) === c; var bc = b.substr(0, c.length) === c; return ac !== bc ? ac ? -1 : 1 : a < b ? -1 : a > b ? 1 : 0; } } } }); }); $.modal.defaults.showClose = false; $('#userdata').on($.modal.BEFORE_CLOSE, function () { var name = $('#userdata #realname').val(); if (name !== $('#userdata #realname').data('name')) { $.ajax({ method: 'POST', url: '/user/update', dataType: 'json', data: { name: name } }).done(function () { location.reload(); }); } }); $('#userdata input').keypress(function (e) { if (e.which === 13) { $.modal.close(); return false; } }); $('.altlang').on('click', function (event) { var lang = event.target.hreflang; if (lang) { document.cookie = 'lang=' + lang + ';path=/;max-age=' + (60 * 60 * 24 * 365); } }); });
= '\n'
