doctype html
= '\n'
html(lang=getLocale())
  = '\n'
  head
    meta(charset='utf-8')
    if title
      title= title + ' | Degošie Jāņi'
    else
      title Degošie Jāņi
    link(rel='icon' href='/favicon.png')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    <!--[if IE]><script src='/html5shiv/dist/html5shiv.min.js'></script><![endif]-->
    link(rel='stylesheet' href='/reset-css/reset.css')
    link(rel='stylesheet' href='/flickity/dist/flickity.min.css')
    link(rel='stylesheet' href='/EasyAutocomplete/dist/easy-autocomplete.min.css')
    link(rel='stylesheet' href='/jquery-modal/jquery.modal.min.css')
    link(rel='stylesheet' href='/main.css')
    if altLocales
      each href, locale in altLocales
        if locale !== getLocale()
          link(rel='alternate' hreflang=locale href=href)
  body
    if user
      form#userdata.modal(style='display:none')
        input#realname(type='text' name='realname' value=user.name data-name=user.name autocomplete='name' placeholder=__('Name'))
        input#password(type='password' name='password' style='display:none' placeholder=__('Current password'))
        input#newpassword(type='password' name='newpassword' placeholder=__('New password, if you want to change it'))
        input#newpasswordrepeat(type='password' name='newpasswordrepeat' style='display:none' placeholder=__('New password, repeated'))
        button(type='submit')= __('Close')
    header
      .header-top
      .header-bar
        if user
          a.sign-in(href='/' + getLocale() + '/' + __('Log Out').toLowerCase().split(' ').join('-').split('/').join('-'))= __('Log Out').toUpperCase()
        else
          a.sign-in(href='/' + getLocale() + '/' + __('Log In').toLowerCase().split(' ').join('-').split('/').join('-'))= __('Log In').toUpperCase()
        if altLocales
          .lang
            each href, locale in altLocales
              if locale === getLocale()
                a.altlang.disabled(hreflang=locale href=href)= locale.toUpperCase()
              else
                a.altlang(hreflang=locale href=href)= locale.toUpperCase()
        block home
          a.home(href='/' + getLocale() + '/')= __('Home').toUpperCase()
    block body
      section
        != markdown || ''
    script(src='/jquery/dist/jquery.min.js')
    script(src='/flickity/dist/flickity.pkgd.min.js')
    script(src='/EasyAutocomplete/dist/jquery.easy-autocomplete.min.js')
    script(src='/jquery-modal/jquery.modal.min.js')
    script(src='/main.js')
= '\n'
