extends layout.pug

block body
  if !user
    section
      if err
        p.center= (typeof err === 'string') ? err : (err.message || err)
      if emailCheck
        p.center= __('Check your e-mail for your password')
      form.log-in(action=altLocales[getLocale()] method='post')
        label(for='email')= __('Email').toUpperCase()
        input(type='email' id='email' name='email' required='required' value=(email || '') autofocus='autofocus')
        label(for='password')= __('Password').toUpperCase()
        input(type='password' id='password' name='password' required='required')
        if location
          input(type='hidden' id='location' name='location' value=location)
        div.buttons
          button(type='submit')= __('Log In').toUpperCase()
          a.createaccount(href='/' + getLocale() + '/' + __('Create account').toLowerCase().split(' ').join('-').split('/').join('-').split('(').join('').split(')').join('').split('!').join(''))= __('Create account').toUpperCase()
