extends layout.pug

block body
  - const isIndex = Array.isArray(pages)
  if user && user.admin
    section
      != markdown || ''
    section.bgless.center
      if isIndex
        a(href='/x-admin/download-applications/' + year + '.xlsx')= __('Download .xlsx').toUpperCase()
        span!= '&nbsp;•&nbsp;'
        a(href='/x-admin/download-applications/' + year + '.pdf.zip')= __('Download .pdf.zip').toUpperCase()
      else
        a(href='.')= __('Go back').toUpperCase()
    if pages
      if isIndex
        section.bgless
          each pageName in pages
            a(href=altLocales[getLocale()] + '/' + __(pageName).toLowerCase().split(' ').join('-').split('/').join('-').split('(').join('').split(')').join('').split('!').join(''))
              h1= __(pageName)
      else
        each page, pageName in pages
          section.bgless
            h1= __(pageName)
            table.datatable.display(data-order='[[ 0, "desc" ]]')
              thead
                - let header = page.shift()
                tr
                  each col, index in header
                    th(data-priority=(index === 0 ? 1 : col === 'Name, Surname' ? 2 : 3))= __(col)
              tbody
                each entry in page
                  tr
                    each col in entry
                      td= col
